html, body{
    height: 100%;
    font-size: 16px;
}
.container{
    height: 100%;
    width: 100%;
    margin: auto;
}
.btn{
    height: 32px;
    padding: 0 15px;
    border-radius: 10px;
    font-size: 1.2em;
}
#table_game .zero_block{
    border: none!important;
    color: #fff;
}
#table_game .active_block{
    background: #ccc
}
#count_block{
    height: 36px;
    line-height: 36px;
}
#table_game{
    border: 1px black solid;
    cursor: pointer;
}
#table_game tr td{
    height: 84px;
    width: 84px;
    border: 1px black solid;
    text-align: center;
    font-size: 24px;
}