html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
/*    font-size: 18px;*/
}
body {
    display: grid;
    grid-template-columns: minmax(200px, 3fr) 12fr;
    background-color: #e6e2d3;
    -webkit-transition: all 3s;
    transition: all 3s;
    grid-template-rows: 60px auto 80px;
}
.grid-default{
    grid-template-rows: 60px auto 80px;
}
.grid-close{
    grid-template-rows: 50% 0px 50%;
}
section{
    -webkit-transition: opacity 0.3s, visibility 0s linear 0.3s;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    opacity: 0;
}
.element-show{
    opacity: 1;
}
.element-hide{
    opacity: 0;
    transition-delay: 0s;
}
a{
    text-decoration: none;
    color: #405d27;
    border-bottom: 1px solid #405d27;
}
#leftBlock{
    grid-row: 2 / 3;
    border-right: 1px solid ;
}
header,footer{
    background-color: #3e4444;
    color: #82b74b;
    grid-column: 1 / 3;
    /*padding: 10px;*/
}
header{
    font-size: 24px;
}
footer{
    text-align: center;
    line-height: 60px;
    grid-row-start: 3;
    grid-row-end: 4;
    color: azure;
}
footer a{
    color: #82b74b;
    border-bottom: 1px solid #82b74b;
}
.container{
    padding: 10px 15px;
}
.logo-name{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50px;
    top: -15px;
    background-image: url("../img/Places-user-identity-icon.png");
    background-size: contain;
    background-color: #ccc;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    
}
.logo-name.logo-center{
    height: 160px;
    width: 160px;
    left:calc(50% - 80px);
    top:calc(50% - 80px);
    background-image: url("../img/Places-user-identity-icon.png");
    z-index: 1000;
    box-sizing: border-box;
}
.logo-name.logo-center:hover{
    cursor: pointer;
}
/*
    nemuBuilder style
*/
ul.nemuBuilder{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.nemuBuilder li{
    display: inline-block;
}
/*
    unique style for menu
*/
ul.nemuBuilder{
    line-height: 60px;
    margin-left: 20%;
    font-size: 0.85em;
}
ul.nemuBuilder li{
    padding: 0 15px;
    border-right: 1px solid #405d27;
}
ul.nemuBuilder li:nth-child(2n){

}
ul.nemuBuilder li:last-child{
    border-right: none;
}
ul.nemuBuilder li a{
    border-bottom: none;
    color: #82b74b;
}
ul.nemuBuilder li a:hover{
    border-bottom: 1px solid #405d27;
}
ul.nemuBuilder li a.active{
    color: #c4b7a6;
    border-bottom: 1px solid #c4b7a6; 
}
/* left menu */
.workerGitHub-list-repo li{
    padding: 2px 0;
}

